@model TimeKeeping.Views.Home.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Time</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.TimeCodeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.TimeCodeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.TimeWorked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.TimeWorked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.StartTimeHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.StartTimeHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.StartTimeMinute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.StartTimeMinute)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.EndTimeHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.EndTimeHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time.EndTimeMinute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.EndTimeMinute)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Time.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
