@model User
@{
    ViewData["Title"] = "UserHomePage";
}

<div class="page-info">
    <p>@TempData["EditSuccess"]</p>
    <p>@TempData["RequestSubmitted"]</p>
    <p>@TempData["ChangePasswordSuccess"]</p>
    <p>@TempData["ChangeUserInfoSuccess"]</p>
    @{
        if (DateTime.Now.Hour < 12 && DateTime.Now.Hour >= 0)
        {
            <h2>Good Morning, @Model.FirstName!</h2>
        }
        else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 17)
        {
            <h2>Good Afternoon, @Model.FirstName!</h2>
        }
        else if (DateTime.Now.Hour <= 24 && DateTime.Now.Hour >= 17)
        {
            <h2>Good Evening, @Model.FirstName!</h2>
        }
    }
    <hr />
    <div class="user-choices">
        <div>
            <h3>My Requests</h3>
            <a asp-controller="Requests" asp-action="SubmitRequest">Submit Request</a>
            <a asp-controller="Requests" asp-action="ViewMyRequests">View My Requests</a>
            <a asp-controller="Requests" asp-action="ViewIncompleteRequests">View Incompleted Requests</a>
        </div>
        <div>
            <h3>All Requests</h3>
            <a asp-controller="Requests" asp-action="ViewRequests">View All Requests</a>
            <a asp-controller="Requests" asp-action="ViewRequestsByCounty">View Requests by County</a>
        </div>
        <div>
            <h3>My Information</h3>
            <a asp-controller="User" asp-action="ChangeUserInfo">Update My Information</a>
            <a asp-controller="User" asp-action="ChangeUserPassword">Update My Password</a>
        </div>
    </div>
</div>
