@using System.Text.RegularExpressions
@model List<Request>
@{
    ViewData["Title"] = "View Accepted Requests";
}

<div class="page-info">
    <h2>Incomplete Requests</h2>
    <hr />
    <p>@TempData["NoIncompleteRequests"]</p>

    @foreach (Request request in Model)
    {
        <h4>
            Name: @request.LastName, @request.FirstName<br />
            Request: #@request.Id<br />
            Date: @request.Date.ToString("MM/dd/yyyy hh:mm tt")<br />
        </h4>

        <form asp-controller="Requests" asp-action="ViewIncompleteRequestDetails" method="get">
            <input type="submit" value="View Details" class="btn btn-primary" />
            <input type="hidden" asp-for="@request.Id" name="requestId" class="form-control" />
        </form>
    }

</div>
