@model User
@{
    ViewData["Title"] = "Update User Information";
}

<div class="page-info">
    <h2>Update User Information</h2>
    <hr />
    <p>@TempData["UserInfoNotEdited"]</p>
    <form asp-controller="Admin" asp-action="EditUserInfo" method="post">
        <input type="hidden" asp-for="@Model.Id" name="userId" class="form-control" />
        <p><label asp-for="Email">Update Email</label></p>
        <p>
            <input type="text" asp-for="Email" value="@Model.Email" id="input" />
            <button type="button" onclick="ClearFields();">Change</button>
            <span asp-validation-for="Email"></span>
        </p>
        <p><label asp-for="FirstName">Update First Name</label></p>
        <p>
            <input type="text" asp-for="FirstName" value="@Model.FirstName" id="input2" />
            <button type="button" onclick="ClearFields2();">Change</button>
            <span asp-validation-for="FirstName"></span>
        </p>
        <p><label asp-for="LastName">Update Last Name</label></p>
        <p>
            <input type="text" asp-for="LastName" value="@Model.LastName" id="input3" />
            <button type="button" onclick="ClearFields3();">Change</button>
            <span asp-validation-for="LastName"></span>
        </p>
        <p><label asp-for="PhoneNumber">Update Phone Number</label></p>
        <p>
            <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber" id="input4" />
            <button type="button" onclick="ClearFields4();">Change</button>
            <span asp-validation-for="PhoneNumber"></span>
        </p>
        <p><label asp-for="County">Update County</label></p>
        <p>
            <select asp-for="County" asp-items="mutual_aid.Models.Account.RegisterViewModel.OhioCounties" class="dropbtn"></select>
        </p>
        <p><input type="submit" value="Update Info" class="btn btn-primary" /></p>
    </form>
</div>

<script>
    function ClearFields() {
        document.getElementById("input").value = "";
    }
    function ClearFields2() {
        document.getElementById("input2").value = "";
    }
    function ClearFields3() {
        document.getElementById("input3").value = "";
    }
    function ClearFields4() {
        document.getElementById("input4").value = "";
    }
</script>

