@model List<Request>
@{
    ViewData["Title"] = "ViewAllRequestsCompleted";
}

<div class="page-info">
    <h2>Completed Requests</h2>
    <hr />
    <div class="filter-results">
        <div class="filters">
            <p><a asp-action="ViewAllRequestsByDate" asp-controller="Admin">Order By Date</a></p>
            <p><a asp-action="ViewAllRequestsByLastName" asp-controller="Admin">Order By Last Name</a></p>
            <p><a asp-action="ViewAllPendingRequests" asp-controller="Admin">Pending Requests</a></p>
            <p><a asp-action="ViewAllAcceptedRequests" asp-controller="Admin">Accepted Requests</a></p>
            <p><a asp-action="ViewAllCompletedRequests" asp-controller="Admin">Completed Requests</a></p>
        </div>
        <div class="results">
            @foreach (Request request in Model)
            {
                @if (request.IsAccepted == 1 && request.IsCompleted == 1)
                {
                    <h4>
                        Name: @request.LastName, @request.FirstName<br />
                        Request #: @request.Id<br />
                        Request Date: @request.Date.Date.ToString("MM/dd/yyyy")<br />
                        Status: Completed <br />
                        County: @request.County<br />
                    </h4>
                }
                else if (request.IsAccepted == 1 && request.IsCompleted == 0)
                {
                    <h4>
                        Name: @request.LastName, @request.FirstName<br />
                        Request #: @request.Id<br />
                        Request Date: @request.Date.Date.ToString("MM/dd/yyyy")<br />
                        Status: Accepted- pending completion <br />
                        County: @request.County<br />
                    </h4>
                }
                else
                {
                    <h4>
                        Name: @request.LastName, @request.FirstName<br />
                        Request #: @request.Id<br />
                        Request Date: @request.Date.Date.ToString("MM/dd/yyyy")<br />
                        Status: Pending <br />
                        County: @request.County<br />
                    </h4>
                }

                <form asp-controller="Admin" asp-action="ViewAllRequestDetails" method="get">
                    <input type="submit" value="View Details" class="btn btn-primary" />
                    <input type="hidden" asp-for="@request.Id" name="requestId" class="form-control" />
                </form>
            }
        </div>
    </div>
</div>