@model Request
@{
    ViewData["Title"] = "View Requests By County";
}

<div class="page-info">
    <h2>View Requests By County</h2>
    <p>
        Here's a reference of where all counties in Ohio are:
        <a href="https://en.wikipedia.org/wiki/List_of_counties_in_Ohio">Ohio County Locations</a>
    </p>
    <hr />
    <form asp-controller="Admin" asp-action="ViewAllRequestsByCountyResult" method="get">

        <p><label asp-for="County">Choose County:</label></p>
        <p>
            <select asp-for="County" asp-items="Model.Counties"></select>
        </p>

        <button type="submit">Search</button>
    </form>
    @foreach (Request request in Model.SearchResults)
    {
        <h4>
            Name: @request.LastName, @request.FirstName<br />
            Request #: @request.Id<br />
            Request Date: @request.Date.Date.ToString("MM/dd/yyyy")<br />
            County: @request.County<br />
        </h4>

        <form asp-controller="Admin" asp-action="ViewAllRequestDetails" method="get">
            <input type="submit" value="View Details" class="btn btn-primary" />
            <input type="hidden" asp-for="@request.Id" name="requestId" class="form-control" />
        </form>
    }
</div>
