@using System.Text.RegularExpressions
@model Request
@{
    ViewData["Title"] = "View Request Details";
}

<div class="page-info">
    <h2>Request Information</h2>
    <hr />
    @if (Model.IsAccepted == 1 && Model.IsCompleted == 1)
    {
        <div class="request-info">
            <div>
                <h4>
                    Request Information<br />
                    <br />
                    Request: #@Model.Id<br />
                    Request Date: @Model.Date.ToString("MM/dd/yyyy hh:mm tt")<br />
                    Status: Completed @Model.CompletedDate.ToString("MM/dd/yyyy hh:mm tt")
                </h4>
            </div>
            <div>
                <h4>
                    Request Completed By<br />
                    <br />
                    Name: @Model.AcceptedUserLastName, @Model.AcceptedUserFirstName<br />
                    Phone Number: @Regex.Replace(Model.AcceptedUserPhoneNumber, @"(\d{3})(\d{3})(\d{4})", "($1) $2-$3")<br />
                    Email: @Model.AcceptedUserEmail<br />
                </h4>
            </div>
        </div>

        <table class="request">
            <tr>
                <th>Toilet Paper</th>
                <td>@Model.ToiletPaper</td>
            </tr>
            <tr>
                <th>Paper Towels</th>
                <td>@Model.PaperTowels</td>
            </tr>
            <tr>
                <th>Hand Soap</th>
                <td>@Model.HandSoap</td>
            </tr>
            <tr>
                <th>Shampoo</th>
                <td>@Model.Shampoo</td>
            </tr>
            <tr>
                <th>Conditioner</th>
                <td>@Model.Conditioner</td>
            </tr>
            <tr>
                <th>Toothpaste</th>
                <td>@Model.Toothpaste</td>
            </tr>
            <tr>
                <th>Disinfectant</th>
                <td>@Model.Disinfectant</td>
            </tr>
            <tr>
                <th>Dairy</th>
                <td>@Model.Dairy</td>
            </tr>
            <tr>
                <th>Bread</th>
                <td>@Model.Bread</td>
            </tr>
            <tr>
                <th>Cereal</th>
                <td>@Model.Cereal</td>
            </tr>
            <tr>
                <th>Pantry Items</th>
                <td>@Model.Pantry</td>
            </tr>
            <tr>
                <th>Produce</th>
                <td>@Model.Produce</td>
            </tr>
            <tr>
                <th>Canned Food</th>
                <td>@Model.CannedFood</td>
            </tr>
            <tr>
                <th>Meat</th>
                <td>@Model.Meat</td>
            </tr>
            <tr>
                <th>Seafood</th>
                <td>@Model.Seafood</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>@Model.Allergens</td>
            </tr>
        </table>
    }
    else if (Model.IsAccepted == 1 && Model.IsCompleted == 0)
    {
        <div class="request-info">
            <div>
                <h4>
                    Request Information<br />
                    <br />
                    Request: #@Model.Id<br />
                    Request Date: @Model.Date.ToString("MM/dd/yyyy hh:mm tt")<br />
                    Status: Accepted @Model.AcceptedDate.ToString("MM/dd/yyyy hh:mm tt")
                </h4>
            </div>
            <div>
                <h4>
                    Request Accepted By<br />
                    <br />
                    Name: @Model.AcceptedUserLastName, @Model.AcceptedUserFirstName<br />
                    Phone Number: @Regex.Replace(Model.AcceptedUserPhoneNumber, @"(\d{3})(\d{3})(\d{4})", "($1) $2-$3")<br />
                    Email: @Model.AcceptedUserEmail<br />
                </h4>
            </div>
        </div>

        <table class="request">
            <tr>
                <th>Toilet Paper</th>
                <td>@Model.ToiletPaper</td>
            </tr>
            <tr>
                <th>Paper Towels</th>
                <td>@Model.PaperTowels</td>
            </tr>
            <tr>
                <th>Hand Soap</th>
                <td>@Model.HandSoap</td>
            </tr>
            <tr>
                <th>Shampoo</th>
                <td>@Model.Shampoo</td>
            </tr>
            <tr>
                <th>Conditioner</th>
                <td>@Model.Conditioner</td>
            </tr>
            <tr>
                <th>Toothpaste</th>
                <td>@Model.Toothpaste</td>
            </tr>
            <tr>
                <th>Disinfectant</th>
                <td>@Model.Disinfectant</td>
            </tr>
            <tr>
                <th>Dairy</th>
                <td>@Model.Dairy</td>
            </tr>
            <tr>
                <th>Bread</th>
                <td>@Model.Bread</td>
            </tr>
            <tr>
                <th>Cereal</th>
                <td>@Model.Cereal</td>
            </tr>
            <tr>
                <th>Pantry Items</th>
                <td>@Model.Pantry</td>
            </tr>
            <tr>
                <th>Produce</th>
                <td>@Model.Produce</td>
            </tr>
            <tr>
                <th>Canned Food</th>
                <td>@Model.CannedFood</td>
            </tr>
            <tr>
                <th>Meat</th>
                <td>@Model.Meat</td>
            </tr>
            <tr>
                <th>Seafood</th>
                <td>@Model.Seafood</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>@Model.Allergens</td>
            </tr>
        </table>
    }
    else
    {
        <form asp-controller="Requests" asp-action="ViewMyRequests" method="post">
            <h4>
                Request Information<br />
                <br />
                Request: #@Model.Id<br />
                Request Date: @Model.Date.ToString("MM/dd/yyyy hh:mm tt")<br />
                Status: Pending
            </h4>
            <table class="request">
                <tr>
                    <th>Toilet Paper</th>
                    <td>@Model.ToiletPaper</td>
                </tr>
                <tr>
                    <th>Paper Towels</th>
                    <td>@Model.PaperTowels</td>
                </tr>
                <tr>
                    <th>Hand Soap</th>
                    <td>@Model.HandSoap</td>
                </tr>
                <tr>
                    <th>Shampoo</th>
                    <td>@Model.Shampoo</td>
                </tr>
                <tr>
                    <th>Conditioner</th>
                    <td>@Model.Conditioner</td>
                </tr>
                <tr>
                    <th>Toothpaste</th>
                    <td>@Model.Toothpaste</td>
                </tr>
                <tr>
                    <th>Disinfectant</th>
                    <td>@Model.Disinfectant</td>
                </tr>
                <tr>
                    <th>Dairy</th>
                    <td>@Model.Dairy</td>
                </tr>
                <tr>
                    <th>Bread</th>
                    <td>@Model.Bread</td>
                </tr>
                <tr>
                    <th>Cereal</th>
                    <td>@Model.Cereal</td>
                </tr>
                <tr>
                    <th>Pantry Items</th>
                    <td>@Model.Pantry</td>
                </tr>
                <tr>
                    <th>Produce</th>
                    <td>@Model.Produce</td>
                </tr>
                <tr>
                    <th>Canned Food</th>
                    <td>@Model.CannedFood</td>
                </tr>
                <tr>
                    <th>Meat</th>
                    <td>@Model.Meat</td>
                </tr>
                <tr>
                    <th>Seafood</th>
                    <td>@Model.Seafood</td>
                </tr>
                <tr>
                    <th>Allergies</th>
                    <td>@Model.Allergens</td>
                </tr>
            </table>
            <input type="submit" value="Delete Request" class="btn btn-primary" />
            <input type="hidden" asp-for="@Model.Id" name="requestId" class="form-control" />
        </form>
    }
</div>